h1, span, footer, .images, #fight, .scores {
    text-align: center;
}

#computer-score, #my-score {
    display: inline-block;
    margin: 0 20px;
}
body{
    background-color: rgb(32, 31, 83);
    color: white;
}

p {
font-size: 150%;
}

h1 {
    font-size: 200%;
}

#your-choice, #opponent-choice {
    width: 200px;
    height: 200px;
}

#encabezado {
    margin-top: 30px;
    margin-left: 30px;
};

.selected {
    background-color: yellow;
}