html{
    font-family: 'Poppins', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
   /* background-color: rgb(159, 248, 248);*/
    

    background-repeat: repeat-y;
    background-size: cover;
    background-image: url(../img/fondo-azul2.jpg);
}

/* Eliminar el subrayado de los enlaces */
a:link, a:visited, a:active {
    text-decoration:none;
}

table{
    margin-left: 1%;
    margin-right: 5%;
    height: 100%;
    width: 100%;
    font-size: 25px;
}


/* Borde tablas para saber tamaño */

#tabla-completa td{
    border: rgb(160, 243, 246) 5px solid;
    text-align: center;
}
/* Quitar los bordes que he usado de guia para cuadrar la tabla*/

#tabla-completa-transparente td{
    border: transparent 5px solid;
    text-align: center;
}

/*
#tabla-completa img:hover{
    background-color: rgb(41, 42, 42, 5);
}
*/
.jugador1 :hover{
    background-color: rgb(41, 42, 42, 5);
}

/*Tamaño del vs */
#vs { 
    margin-top: 1px;
     
}

.jugador1 :hover{
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10%;

}

#resultado {
    text-align: center;
    font-size: 50px;
    
}

#resultado-frase {
    text-align: center;
}

.btn {
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: transparent;
    color: #3498db;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    border-radius: 15%;
}

.btn :hover{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15%;
}



  /* Tamaño imagenes */
  img.pequeña{
    width: 50px;
    height: 50px;
  }
  img.mediana{
    width: 100px;
    height: 100px;
  }
  img.grande{
    width: 200px;
    height: 200px;
  }
  img.grande2{
    width: 130px;
    height: 130px;
  }

  #puntuacion{
    text-align: center;
    font-size: 40px;
    
  }

#audio-win{
    display: none
}

#audio-lose{
    display: none
}
#audio-none{
    display: none
}
