html{
    font-family: 'Poppins', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(159, 248, 248);
    background-repeat: repeat-y;
    background-size: cover;
}

/* Eliminar el subrayado de los enlaces */
a:link, a:visited, a:active {
    text-decoration:none;
}

table{
    margin-left: 1%;
    margin-right: 5%;
    height: 100%;
    width: 100%;
}

/*Tamaño de los iconos y posicionamiento */
#tabla-completa img{

    height: 100px;
    width: 100px;
    float: left;
     
}
/*
#tabla-completa img:hover{
    background-color: rgb(41, 42, 42, 5);
}
*/
.jugador1 :hover{
    background-color: rgb(41, 42, 42, 5);
}
#p1-vs-p2 {
    height: 200px;
    width: 200px;
}
/*Tamaño del vs */
#vs { 
    margin-top: 100px;
}

.jugador1 :hover{
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10%;

}

#resultado {
    text-align: left;
}

#resultado-frase {
    text-align: left;
}

.btn {
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: transparent;
    color: #3498db;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    border-radius: 15%;
}

.btn :hover{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15%;
}